// Import a Google Font
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


// @font-face {
// 	font-family: 'graphein_pro';
// 	src: url('/assets/fonts/GrapheinPro-Light-webfont.eot');
// 	src: url('/assets/fonts/GrapheinPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('/assets/fonts/GrapheinPro-Light-webfont.woff2') format('woff2'),
// 		url('/assets/fonts/GrapheinPro-Light-webfont.woff') format('woff'),
// 		url('/assets/fonts/GrapheinPro-Light-webfont.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'graphein_pro_bold';
// 	src: url('/assets/fonts/GrapheinPro-Book-webfont.eot');
// 	src: url('/assets/fonts/GrapheinPro-Book-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('/assets/fonts/GrapheinPro-Book-webfont.woff2') format('woff2'),
// 		url('/assets/fonts/GrapheinPro-Book-webfont.woff') format('woff'),
// 		url('/assets/fonts/GrapheinPro-Book-webfont.ttf') format('truetype');
// 	font-weight: 700;
// 	font-style: bold;
// }

// https://bulma.io/documentation/customize/variables/
$fontSize: 16px;
$fontColor: #303640;
$background: #f3f3f3;
$family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $family-primary: "graphein_pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
// $family-primary-bold: "graphein_pro_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;

$modal-background-background-color: rgba(10, 10, 10, 0.76);

$radius-large: 4px;

html {
	background-color: $background;
	// font-family: $family-primary;
	font-size: $fontSize !important;
	line-height: 1.375;
	color: $fontColor;
	min-height: 100vh;
}



$box-shadow: 0 0px 9px rgba(0, 0, 0, 0.1), // top
	0 0.8px 0.8px rgba(0, 0, 0, 0.026),
	0 1.9px 1.9px rgba(0, 0, 0, 0.04),
	0 3.4px 3.5px rgba(0, 0, 0, 0.05),
	0 5.6px 5.8px rgba(0, 0, 0, 0.058),
	0 9.3px 9.5px rgba(0, 0, 0, 0.067),
	0 16.2px 16.6px rgba(0, 0, 0, 0.08),
	0 35px 36px rgba(0, 0, 0, 0.11);